@model BTL_MoHinhMvc.Models.SubCategory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Xóa thông tin loại sản phẩm con</h2>

<h3>Bạn có chắc chắn muốn xóa thông tin này</h3>
<div>
    <hr />
    <dl class="d-lg-table">
        <dt style="color: #fff; font-size: 20px;">
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoryName)
        </dd>

        <dt style="color: #fff; font-size: 20px;">
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Xóa" class="btn btn-danger" />
    @Html.ActionLink(" Hủy", "Index", null, new { @Class = "btn btn-primary fa fa-close" })
</div>
    }
</div>
