@model IEnumerable<BTL_MoHinhMvc.Models.CartProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
    int tt = 1;
}

<h2>Quản lý danh sách sản phẩm trong giỏ hàng</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @Class = "btn btn-primary fa fa-plus" })
</p>
<table class="table bg-secondary rounded table-bordered table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                TT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Cname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(tt++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Cname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Username }, new { @Class = "btn btn-warning fa fa-pencil" })
                    @Html.ActionLink(" ", "Details", new { id = item.Username }, new { @Class = "btn btn-info fa fa-info" })
                    @Html.ActionLink(" ", "Delete", new { id = item.Username }, new { @Class = "btn btn-danger fa fa-trash" })
                </td>
            </tr>
        }
    </tbody>

</table>

@section Script1{

    <!-- Page level plugins -->
    <script src="/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/Assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/Assets/jstb/demo/datatables-demo.js"></script>
}
